.country-name-heading{
	font-family: sans-serif;
	font-weight: bolder;
}
.country-container{
	margin-top: 10px;
	padding: 10px;
}
.country-detail-container{
    font-size: 14px;

}
.neighbour-section{
	border:1px #D9D9D9 solid;
	margin-top: 20px;
	margin-bottom:20px;

}
.neighbour-container{
	margin: 20px;
}
.neighbour-rows{
	margin: 20px;
}
@media screen and (max-width: 800px) {
 .countries-flag{
 	margin-top: 20px;
 	margin-bottom: 20px;
 } 
  
}